{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Header -->

	<header id="header" >
		<a style="text-decoration: none; border: none;" href="{% url 'index' %}"><img style=" width: 10%; " src="{% static 'images/logo-removebg-preview.png' %}" alt="" /></a>
		<nav id="nav">
			<ul>
				<li><a href="{% url 'index' %}"><h3>Inicio</h3></a></li>
			</ul>
		</nav>
	</header>

<!-- Main -->
<section  class="container medium">

	<div class="box" style="margin-top: 100px;">
		<h2>Entre em contato via E-mail</h2>
		<form method="post" action="{% url 'contato' %}">
			{% csrf_token %}
			<div class="row gtr-50 gtr-uniform">
				<div class="col-6 col-12-mobilep">
					<input type="text" name="nome" id="nome" value="" placeholder="Nome" required />
				</div>
				<div class="col-6 col-12-mobilep">
					<input type="email" name="email" id="email" value="" placeholder="E-mail" required />
				</div>
				<div class="col-6">
					<input type="text" name="telefone" id="telefone" value="" placeholder="Telefone" required />
				</div>
				<div class="col-6">
					<input type="text" name="cidade" id="cidade" value="" placeholder="Cidade" required />
				</div>
				<div class="col-12">
					<input type="text" name="assunto" id="assunto" value="" placeholder="Assunto" required />
				</div>
				<div class="col-12">
					<textarea name="mensagem" id="mensagem" placeholder="Mande sua mensagem" rows="6" required></textarea>
				</div>
				<div class="col-12">
					<ul class="actions special">
						<li><input type="submit" value="Enviar e-mail" /></li>
					
					</ul>
				</div>
				<div class="col-12 text-center hidden">
					{% if messages %}
						{% for message in messages %}
						<h4 style="text-align: center;"  class=" {{ message.tags }} {% if message.tags %} {% endif %}"> {{ message }} </h4>
						{% endfor %}
				{% endif %}
				</div> 
			</div>
		</form>
		<h2 style="text-align: center;" >Ou, envie um Whatsapp ! <br>
		<a href="https://wa.me/5511985796256/?text=Olá, gostaria de saber mais informações sobre seus serviços." 
		style="border: none;" target="_blank"><img class="right" style="text-align: center ;width: 10%;" src="{% static 'images/cssIcon.png' %}" ></a>
	</h2>
	</div>
</section>


           
			

{% endblock content %}